
.calendar-box{
    /*width: 500px;*/
    width: 450px;
    height: 100%;
}

.btn {
    margin-bottom: 5px;
}

.days {
    width: 75px;
    height: 50px;
    margin-top: 40%;
}

.s9 {
    align-content: center;
}